## Who is your GOLDEN GOOSE?

In [5]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [6]:
def load_csv(filename):
    orders = pd.read_csv(filename,sep=',')
    return orders
orders = load_csv("order.csv")

In [7]:
orders.head()

  order_date        order_id          customer  grand_total
0     9/7/11  CA-2011-100006       Dennis Kane          378
1     7/8/11  CA-2011-100090        Ed Braxton          699
2    3/14/11  CA-2011-100293  Neil Franzšsisch           91
3    1/29/11  CA-2011-100328   Jasper Cacioppo            4
4     4/8/11  CA-2011-100363       Jim Mitchum           21

In [8]:
import datetime as dt
NOW = dt.datetime(2014,12,31)
orders['order_date'] = pd.to_datetime(orders['order_date'])

In [9]:
rfmTable = orders.groupby('customer').agg({'order_date': lambda x: (NOW - x.max()).days, # Recency
                                        'order_id': lambda x:len(x),      # Frequency
                                        'grand_total': 'sum'}) # Monetary Value

rfmTable['order_date'] = rfmTable['order_date'].astype(int)
rfmTable.rename(columns={'order_date': 'recency', 
                         'order_id': 'frequency', 
                         'grand_total': 'monetary_value'}, inplace=True)
rfmTable = rfmTable.reset_index()

In [10]:
df = rfmTable.iloc[:,1:4]
df.head()

   recency  frequency  monetary_value
0      415          3             887
1       12          7            1744
2       88          7            3050
3       54          8            7756
4       34         10            3249

In [11]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
kmeans = KMeans(n_clusters=3)
kmeans.fit(df)
labels = kmeans.predict(df)
centroids = kmeans.cluster_centers_

In [12]:
centroids

array([[  1.00449612e+02,   7.59302326e+00,   4.20797674e+03],
       [  1.35833333e+02,   8.29629630e+00,   1.00412222e+04],
       [  1.72902287e+02,   5.40956341e+00,   1.39163617e+03]])

In [13]:
df['cluster_group'] = labels

In [10]:
df.head()

   recency  frequency  monetary_value  cluster_group
0      415          3             887              2
1       12          7            1744              2
2       88          7            3050              0
3       54          8            7756              1
4       34         10            3249              0

In [2]:
#!pip install git+https://github.com/jamalsenouci/causalimpact.git

Collecting git+https://github.com/jamalsenouci/causalimpact.git
  Cloning https://github.com/jamalsenouci/causalimpact.git to /private/var/folders/42/_1xq97bx1xbfgzvn58m_7cr4h987px/T/pip-req-build-b1p346bo
Requirement already satisfied: nose in /anaconda3/lib/python3.6/site-packages (from causalimpact==0.1.1) (1.3.7)
Building wheels for collected packages: causalimpact
  Running setup.py bdist_wheel for causalimpact ... done
  Stored in directory: /private/var/folders/42/_1xq97bx1xbfgzvn58m_7cr4h987px/T/pip-ephem-wheel-cache-si45vzm4/wheels/30/c8/87/c89e20ccb85e26afb8e2f52f12560123610b44df483925083f
Successfully built causalimpact
Installing collected packages: causalimpact
Successfully installed causalimpact-0.1.1
You are using pip version 18.1, however version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [33]:
from causalimpact import CausalImpact
from statsmodels.tsa.arima_process import arma_generate_sample
data = df.loc[lambda df: df['cluster_group'] == 1]
data.head()

    recency  frequency  monetary_value  cluster_group
3        54          8            7756              1
6        41         10           14474              1
45      410         12            7888              1
75      307          4           11790              1
90      558          5           10502              1

In [34]:
import numpy as np
data["monetary_value_control"] = data["monetary_value"] - np.random.choice([1, 9, 20], data.shape[0])
data.head()

    recency  frequency  monetary_value  cluster_group  monetary_value_control
3        54          8            7756              1                    7755
6        41         10           14474              1                   14465
45      410         12            7888              1                    7879
75      307          4           11790              1                   11789
90      558          5           10502              1                   10482

In [35]:
data = data[['recency','monetary_value','monetary_value_control']]
data.sort_values('recency',inplace=True)

In [36]:
data.set_index('recency')

         monetary_value  monetary_value_control
recency
2                  8237                    8228
4                  7474                    7465
6                  8241                    8232
9                 12210                   12209
9                  8647                    8627
16                 7661                    7652
21                 9801                    9781
29                 7955                    7946
33                 7295                    7286
36                11820                   11800
36                11892                   11883
37                 8953                    8952
41                 8828                    8808
41                14474                   14465
42                10663                   10643
42                 7722                    7702
43                12874                   12873
43                12129                   12128
46                 8698                    8689
47                 8058                    8038
47                14174                   14173
48                 7755                    7746
50                 8351                    8342
54                 7756                    7755
54                 8027                    8026
56                 9350                    9330
69                14595                   14586
79                25042                   25022
79                 8321                    8301
84                 7199                    7198
96                15117                   15108
97                 7254                    7253
97                10605                   10604
101               11471                   11470
109                7624                    7615
112                8182                    8162
117                9299                    9290
120                7398                    7389
135               10311                   10310
138                7903                    7902
154                8675                    8655
172                7234                    7225
189               11166                   11165
202                9133                    9113
273                7443                    7434
284               10879                   10870
307               11790                   11789
349               14143                   14134
394                7610                    7590
399               19052                   19051
410                7888                    7879
484                8282                    8281
558               10502                   10482
835                9063                    9062

In [37]:

pre_period = [0, 74]
post_period = [74, 835]

ci = CausalImpact(data, pre_period, post_period)

In [38]:
ci.plot()

AttributeError: 'CausalImpact' object has no attribute 'inferences'

In [41]:
ci.run()

KeyError: 0